{% extends 'loginBase.html' %}

{% block head %}
<title> Login </title>
{% endblock %}

{% block body %}
    <form action='/login' method='POST'>
        <h3> Subscribe Music </h3>
        <label for="email">Email id:</label><br>
        <input type="text" id="email" name="email" required><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login"> &nbsp;
        <a href="/register"> Register </a>
    </form>
    {% if error %} 
        <p style="color: black; text-align: center; font-size: 35px;"> {{error}}</p> 
    {% endif %}
{% endblock %}