{% extends 'loginBase.html' %}

{% block head %}
<title> Register </title>
{% endblock %}

{% block body %}
    <form action='/register' method='POST'>
        <h3> Register </h3>
        <label for="email">Email Id:</label><br>
        <input type="text" id="email" name="email" required><br><br>
        <label for="user_name">Username:</label><br>
        <input type="text" id="user_name" name="user_name" required><br><br>
        <label for="Password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Register"> &nbsp;
        <a href="/login"> Login </a>
    </form>
    {% if error %} 
        <p style="color: black; font-size: 25px; text-align: center;"> {{error}}</p> 
    {% endif %}
{% endblock %}